<a href="https://colab.research.google.com/github/HarshRajGupta22/Internship/blob/main/web_scrapping_asiignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# WEB SCRAPPING ASSIGNMENT

In [ ]:
# Installing required Libaries

pip install bs4

SyntaxError: ignored

In [ ]:
# Installing required Libaries

pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.10.8)

In [1]:
# Importing Web Scrapping Tool 

from bs4 import BeautifulSoup

In [2]:
# Importing Request to Acess Websites

import requests

# Q 1 Header Tags of Wikipedia

In [ ]:
# Request to Acess Wikipedia

page1=requests.get('https://en.wikipedia.org/wiki/Main_Page')
page1

In [ ]:
# Accesing the page Content of Wikipedia

soup1=BeautifulSoup(page1.content)
soup1

In [ ]:
# Showing the Header Tags from WikiPedia

Header_Tags = []
for i in soup1.find_all(class_="mw-headline"):
  Header_Tags.append(i.text)


Header_Tags

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

# Question 2 Top 100 IMDB Rated Movies

In [ ]:
# Request to Acess IMDB Website

page2=requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc')
page2

In [ ]:
#Accesing the page Content of IMDB Website

soup2=BeautifulSoup(page2.content)
soup2

In [ ]:
# Showing the Top 100 IMDB Rated Movies Name List

Movie_Titles = []
for i in soup2.find_all(class_="lister-item-header"):
  Movie_Titles.append(i.text.splitlines()[2])


Movie_Titles

['The Shawshank Redemption',
 'The Godfather',
 'The Dark Knight',
 'The Godfather: Part II',
 '12 Angry Men',
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 "Schindler's List",
 'Inception',
 'Fight Club',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Forrest Gump',
 'The Good, the Bad and the Ugly',
 'Spider-Man: No Way Home',
 'The Lord of the Rings: The Two Towers',
 'The Matrix',
 'Goodfellas',
 'Star Wars: Episode V - The Empire Strikes Back',
 "One Flew Over the Cuckoo's Nest",
 'Parasite',
 'Interstellar',
 'City of God',
 'Spirited Away',
 'Saving Private Ryan',
 'The Green Mile',
 'Life Is Beautiful',
 'Se7en',
 'The Silence of the Lambs',
 'Star Wars',
 'Hara-Kiri',
 'Seven Samurai',
 "It's a Wonderful Life",
 'Whiplash',
 'The Intouchables',
 'The Prestige',
 'The Departed',
 'The Pianist',
 'Gladiator',
 'American History X',
 'The Usual Suspects',
 'LÃ©on: The Professional',
 'The Lion King',
 'Terminator 2: Judgment Day',
 'Cinema Paradiso',
 'Grave of the Fireflies',
 'Back to the Future',
 'Once Upon a Time in the West',
 'Psycho',
 'Rear Window',
 'Casablanca']

In [ ]:
# Showing the Top 100 IMDB Rated Movies Release Year

Movie_Year = []
for i in soup2.find_all(class_="lister-item-year text-muted unbold"):
  Movie_Year.append(i.text)


Movie_Year

['(1994)',
 '(1972)',
 '(2008)',
 '(1974)',
 '(1957)',
 '(2003)',
 '(1994)',
 '(1993)',
 '(2010)',
 '(1999)',
 '(2001)',
 '(1994)',
 '(1966)',
 '(2021)',
 '(2002)',
 '(1999)',
 '(1990)',
 '(1980)',
 '(1975)',
 '(2019)',
 '(2014)',
 '(2002)',
 '(2001)',
 '(1998)',
 '(1999)',
 '(1997)',
 '(1995)',
 '(1991)',
 '(1977)',
 '(1962)',
 '(1954)',
 '(1946)',
 '(2014)',
 '(2011)',
 '(2006)',
 '(2006)',
 '(2002)',
 '(2000)',
 '(1998)',
 '(1995)',
 '(1994)',
 '(1994)',
 '(1991)',
 '(1988)',
 '(1988)',
 '(1985)',
 '(1968)',
 '(1960)',
 '(1954)',
 '(1942)']

In [ ]:
# Showing the Top 100 IMDB Rated Movies Rating

Movie_Rating = []
for i in soup2.find_all(class_="ratings-bar"):
  Movie_Rating.append(i.text.split()[13])


Movie_Rating

['9.3/10',
 '9.2/10',
 '9/10',
 '9/10',
 '9/10',
 '8.9/10',
 '8.9/10',
 '8.9/10',
 '8.8/10',
 '8.8/10',
 '8.8/10',
 '8.8/10',
 '8.8/10',
 '8.7/10',
 '8.7/10',
 '8.7/10',
 '8.7/10',
 '8.7/10',
 '8.7/10',
 '8.6/10',
 '8.6/10',
 '8.6/10',
 '8.6/10',
 '8.6/10',
 '8.6/10',
 '8.6/10',
 '8.6/10',
 '8.6/10',
 '8.6/10',
 '8.6/10',
 '8.6/10',
 '8.6/10',
 '8.5/10',
 '8.5/10',
 '8.5/10',
 '8.5/10',
 '8.5/10',
 '8.5/10',
 '8.5/10',
 '8.5/10',
 '8.5/10',
 '8.5/10',
 '8.5/10',
 '8.5/10',
 '8.5/10',
 '8.5/10',
 '8.5/10',
 '8.5/10',
 '8.5/10',
 '8.5/10']

In [ ]:
# Table Displaying DataFrame Consisting of Columns Related To Movies Title , Rating and Year    

import pandas as pd
df1=pd.DataFrame({'Title':Movie_Titles,'Rating':Movie_Rating,'Year of Release':Movie_Year})
df1

                                                Title  Rating Year of Release
0                            The Shawshank Redemption  9.3/10          (1994)
1                                       The Godfather  9.2/10          (1972)
2                                     The Dark Knight    9/10          (2008)
3                              The Godfather: Part II    9/10          (1974)
4                                        12 Angry Men    9/10          (1957)
5       The Lord of the Rings: The Return of the King  8.9/10          (2003)
6                                        Pulp Fiction  8.9/10          (1994)
7                                    Schindler's List  8.9/10          (1993)
8                                           Inception  8.8/10          (2010)
9                                          Fight Club  8.8/10          (1999)
10  The Lord of the Rings: The Fellowship of the Ring  8.8/10          (2001)
11                                       Forrest Gump  8.8/10          (1994)
12                     The Good, the Bad and the Ugly  8.8/10          (1966)
13                            Spider-Man: No Way Home  8.7/10          (2021)
14              The Lord of the Rings: The Two Towers  8.7/10          (2002)
15                                         The Matrix  8.7/10          (1999)
16                                         Goodfellas  8.7/10          (1990)
17     Star Wars: Episode V - The Empire Strikes Back  8.7/10          (1980)
18                    One Flew Over the Cuckoo's Nest  8.7/10          (1975)
19                                           Parasite  8.6/10          (2019)
20                                       Interstellar  8.6/10          (2014)
21                                        City of God  8.6/10          (2002)
22                                      Spirited Away  8.6/10          (2001)
23                                Saving Private Ryan  8.6/10          (1998)
24                                     The Green Mile  8.6/10          (1999)
25                                  Life Is Beautiful  8.6/10          (1997)
26                                              Se7en  8.6/10          (1995)
27                           The Silence of the Lambs  8.6/10          (1991)
28                                          Star Wars  8.6/10          (1977)
29                                          Hara-Kiri  8.6/10          (1962)
30                                      Seven Samurai  8.6/10          (1954)
31                              It's a Wonderful Life  8.6/10          (1946)
32                                           Whiplash  8.5/10          (2014)
33                                   The Intouchables  8.5/10          (2011)
34                                       The Prestige  8.5/10          (2006)
35                                       The Departed  8.5/10          (2006)
36                                        The Pianist  8.5/10          (2002)
37                                          Gladiator  8.5/10          (2000)
38                                 American History X  8.5/10          (1998)
39                                 The Usual Suspects  8.5/10          (1995)
40                             LÃ©on: The Professional  8.5/10          (1994)
41                                      The Lion King  8.5/10          (1994)
42                         Terminator 2: Judgment Day  8.5/10          (1991)
43                                    Cinema Paradiso  8.5/10          (1988)
44                             Grave of the Fireflies  8.5/10          (1988)
45                                 Back to the Future  8.5/10          (1985)
46                       Once Upon a Time in the West  8.5/10          (1968)
47                                             Psycho  8.5/10          (1960)
48                                        Rear Window  8.5/10          (1954)
49                                         Casablanca  8.5/10          (1942)

# Q 3 Top 100 IMDB Rated Indian Movies

In [ ]:
# Request to Acess IMDB Website

page3=requests.get('https://www.imdb.com/india/top-rated-indian-movies/')
page3

In [ ]:
#Accesing the page Content Of IMDB

soup3=BeautifulSoup(page3.content)
soup3

In [ ]:
# Showing the Top 100 IMDB Rated Indian Movies Name List

Movie_Titles2 = []
for i in soup3.find_all(class_="titleColumn"):
  Movie_Titles2.append(i.text.splitlines()[2])


Movie_Titles2

['      Pariyerum Perumal',
 '      Nayakan',
 '      C/o Kancharapalem',
 '      Anbe Sivam',
 '      Kireedam',
 '      Manichithrathazhu',
 '      Jai Bhim',
 '      Hanky Panky',
 '      The World of Apu',
 '      Natsamrat',
 '      #Home',
 '      Kumbalangi Nights',
 '      Thevar Magan',
 '      Black Friday',
 '      Jersey',
 '      Visaaranai',
 '      Soorarai Pottru',
 '      3 Idiots',
 '      Asuran',
 '      Sardar Udham',
 '      Pather Panchali',
 '      Kaithi',
 '      Sarpatta Parambarai',
 '      Thalapathi',
 '      Like Stars on Earth',
 '      96',
 '      Devasuram',
 '      Drishyam 2',
 '      Peranbu',
 '      Dangal',
 '      Vada Chennai',
 '      Chithram',
 '      Jaane Bhi Do Yaaro',
 '      Aparajito',
 '      Pyaasa',
 '      Thani Oruvan',
 '      Guide',
 '      Spadikam',
 '      Agent Sai Srinivasa Athreya',
 '      Iruvar',
 '      Raatchasan',
 '      Kannathil Muthamittal',
 '      Mahanati',
 '      Chupke Chupke',
 '      Super Deluxe',
 '      Aruvi',
 '      Pudhu Pettai',
 '      A Northern Story of Valor',
 '      Drishyam',
 '      Anniyan',
 '      Khosla Ka Ghosla!',
 '      Vikram Vedha',
 '      Premam',
 '      Mudhalvan',
 '      Tumbbad',
 '      Bangalore Days',
 '      Kaakkaa Muttai',
 '      Papanasam',
 '      Mandela',
 '      Satya',
 '      Soodhu Kavvum',
 '      Pithamagan',
 '      Dhuruvangal Pathinaaru',
 '      Angoor',
 '      Shahid',
 '      Andhadhun',
 '      Jigarthanda',
 '      Anand',
 '      Gangs of Wasseypur',
 '      Sairat',
 '      Paan Singh Tomar',
 '      Maheshinte Prathikaaram',
 '      Chhichhore',
 '      Bhaag Milkha Bhaag',
 '      Hera Pheri',
 '      Theeran Adhigaram Ondru',
 '      Sholay',
 '      Ustad Hotel',
 "      Let's Go! India",
 '      Swades',
 '      Talvar',
 '      Virumandi',
 '      Baasha',
 '      Zindagi Na Milegi Dobara',
 '      Mughal-E-Azam',
 '      Jo Jeeta Wohi Sikandar',
 '      Black',
 '      Drishyam',
 '      Article 15',
 '      Udaan',
 '      A Wednesday',
 '      Masaan',
 '      Nil Battey Sannata',
 '      Munna Bhai M.B.B.S.',
 '      Alai Payuthey',
 '      Charulata',
 '      Sarfarosh',
 '      Uri: The Surgical Strike',
 '      Roja',
 '      Color It Yellow',
 '      Queen',
 '      Dil Chahta Hai',
 '      OMG: Oh My God!',
 '      Lagaan: Once Upon a Time in India',
 '      Kahaani',
 '      Andaz Apna Apna',
 '      Bommarillu',
 '      PK',
 '      Lucia',
 '      The Legend of Bhagat Singh',
 '      The Great Indian Kitchen',
 '      Indian',
 '      Iqbal',
 '      Barfi!',
 '      Section 375',
 '      Thadam',
 '      Bombay',
 '      Maanaadu',
 '      Maqbool',
 '      Pelli Choopulu',
 '      Pink',
 '      Omkara',
 '      Kshanam',
 '      Rangasthalam 1985',
 '      Shershaah',
 '      Baahubali 2: The Conclusion',
 '      Carry On, Munna Bhai',
 '      K.G.F: Chapter 1',
 '      Athadu',
 '      Naduvula Konjam Pakkatha Kaanom',
 '      Pranchiyettan and the Saint',
 '      Deewaar',
 '      Padaiyappa',
 '      Evaru',
 '      Padosan',
 '      Gulaal',
 '      Thondi Muthalum Driksakshiyum',
 '      Take Off',
 '      Vaaranam Aayiram',
 '      Haider',
 '      Aadukalam',
 '      Maanagaram',
 '      Dilwale Dulhania Le Jayenge',
 '      Android Kunjappan Ver 5.25',
 '      Ulidavaru Kandanthe',
 '      Ugly',
 '      Nayattu',
 '      22 Shey Shraban',
 '      Special 26',
 '      Mother India',
 '      Ship of Theseus',
 '      Deiva Thirumagal',
 '      Bajrangi Bhaijaan',
 '      Badhaai Ho',
 '      Karnan',
 '      Kirik Party',
 '      Jalsaghar',
 '      Dev.D',
 '      Vaastav: The Reality',
 '      Vedam',
 '      The Brawler',
 '      Charlie',
 '      Ayyappanum Koshiyum',
 '      Poove Unakkaga',
 '      Ankhon Dekhi',
 '      Company',
 '      Manjhi: The Mountain Man',
 '      Pizza',
 '      Gully Boy',
 '      Memories',
 '      Malik',
 '      Arjun Reddy',
 '      Joseph',
 '      My Name Is Khan',
 '      Vinnaithaandi Varuvaayaa',
 '      Border',
 '      Dil Bechara',
 '      Jab We Met',
 '      Thulladha Manamum Thullum',
 '      Kal Ho Naa Ho',
 '      Sonchiriya',
 '      Super 30',
 '      Kaakha..Kaakha: The Police',
 '      Mumbai Police',
 '      Anjaam Pathiraa',
 '      Hey Ram',
 '      Baahubali: The Beginning',
 '      Angamaly Diaries',
 '      Unnaipol Oruvan',
 '      Vettaiyaadu Vilaiyaadu',
 '      Lakshya',
 '      Hridayam',
 '      Pad Man',
 '      Dia',
 '      Baby',
 '      Dor',
 '      Hindi Medium',
 '      Okkadu',
 '      Airlift',
 '      M.S. Dhoni: The Untold Story',
 '      English Vinglish',
 '      Colour Photo',
 '      Manam',
 '      Gangaajal',
 '      The Lunchbox',
 '      Minnal Murali',
 '      Johnny Gaddaar',
 '      Ayirathil Oruvan',
 '      Ab Tak Chhappan',
 '      Pokiri',
 '      Happy Days',
 '      Goodachari',
 '      Ennu Ninte Moideen',
 '      RangiTaranga',
 '      Joji',
 '      Badla',
 '      Thuppakki',
 '      Nayak: The Real Hero',
 '      Stanley Ka Dabba',
 '      Vicky Donor',
 '      Ko',
 '      Secret Superstar',
 '      Raazi',
 '      Don',
 '      Velaiyilla Pattathari',
 '      Mimi',
 '      Mr. India',
 '      Aligarh',
 '      Udta Punjab',
 '      Kaththi',
 '      Veer-Zaara',
 '      Arya',
 '      Rock On!!',
 '      Dasvidaniya',
 '      Ghilli',
 '      Kai Po Che',
 '      Guru',
 '      24',
 '      Samsara',
 '      Oye Lucky! Lucky Oye!',
 '      The Tashkent Files',
 '      Avane Srimannarayana',
 '      Rockstar',
 '      Eega',
 '      Kushi',
 '      Sir',
 '      Ugramm',
 '      Mumbai Meri Jaan',
 '      Kabhi Haan Kabhi Naa',
 '      Darr']

In [ ]:
# Showing the Top 100 IMDB Rated Indian Movies Release Year


Movie_Year2 = []
for i in soup3.find_all(class_="titleColumn"):
  Movie_Year2.append(i.text.splitlines()[3])


Movie_Year2

['(2018)',
 '(1987)',
 '(2018)',
 '(2003)',
 '(1989)',
 '(1993)',
 '(2021)',
 '(1979)',
 '(1959)',
 '(2016)',
 '(2021)',
 '(2019)',
 '(1992)',
 '(2004)',
 '(2019)',
 '(2015)',
 '(2020)',
 '(2009)',
 '(2019)',
 '(2021)',
 '(1955)',
 '(2019)',
 '(2021)',
 '(1991)',
 '(2007)',
 '(2018)',
 '(1993)',
 '(2021)',
 '(2018)',
 '(2016)',
 '(2018)',
 '(1988)',
 '(1983)',
 '(1956)',
 '(1957)',
 '(2015)',
 '(1965)',
 '(1995)',
 '(2019)',
 '(1997)',
 '(2018)',
 '(2002)',
 '(2018)',
 '(1975)',
 '(2019)',
 '(2016)',
 '(2006)',
 '(1989)',
 '(2013)',
 '(2005)',
 '(2006)',
 '(2017)',
 '(2015)',
 '(1999)',
 '(2018)',
 '(2014)',
 '(2014)',
 '(2015)',
 '(2021)',
 '(1998)',
 '(2013)',
 '(2003)',
 '(2016)',
 '(1982)',
 '(2012)',
 '(2018)',
 '(2014)',
 '(1971)',
 '(2012)',
 '(2016)',
 '(2012)',
 '(2016)',
 '(2019)',
 '(2013)',
 '(2000)',
 '(2017)',
 '(1975)',
 '(2012)',
 '(2007)',
 '(2004)',
 '(2015)',
 '(2004)',
 '(1995)',
 '(2011)',
 '(1960)',
 '(1992)',
 '(2005)',
 '(2015)',
 '(2019)',
 '(2010)',
 '(2008)',
 '(2015)',
 '(2015)',
 '(2003)',
 '(2000)',
 '(1964)',
 '(1999)',
 '(2019)',
 '(1992)',
 '(2006)',
 '(2013)',
 '(2001)',
 '(2012)',
 '(2001)',
 '(2012)',
 '(1994)',
 '(2006)',
 '(2014)',
 '(2013)',
 '(2002)',
 '(2021)',
 '(1996)',
 '(2005)',
 '(2012)',
 '(2019)',
 '(2019)',
 '(1995)',
 '(2021)',
 '(2003)',
 '(2016)',
 '(2016)',
 '(2006)',
 '(2016)',
 '(2018)',
 '(2021)',
 '(2017)',
 '(2006)',
 '(2018)',
 '(2005)',
 '(2012)',
 '(2010)',
 '(1975)',
 '(1999)',
 '(2019)',
 '(1968)',
 '(2009)',
 '(2017)',
 '(2017)',
 '(2008)',
 '(2014)',
 '(2011)',
 '(2017)',
 '(1995)',
 '(2019)',
 '(2014)',
 '(2013)',
 '(2021)',
 '(2011)',
 '(2013)',
 '(1957)',
 '(2012)',
 '(2011)',
 '(2015)',
 '(2018)',
 '(2021)',
 '(2016)',
 '(1958)',
 '(2009)',
 '(1999)',
 '(2010)',
 '(2017)',
 '(2015)',
 '(2020)',
 '(1996)',
 '(2013)',
 '(2002)',
 '(2015)',
 '(2012)',
 '(2019)',
 '(2013)',
 '(2021)',
 '(2017)',
 '(2018)',
 '(2010)',
 '(2010)',
 '(1997)',
 '(2020)',
 '(2007)',
 '(1999)',
 '(2003)',
 '(2019)',
 '(2019)',
 '(2003)',
 '(2013)',
 '(2020)',
 '(2000)',
 '(2015)',
 '(2017)',
 '(2009)',
 '(2006)',
 '(2004)',
 '(2022)',
 '(2018)',
 '(2020)',
 '(2015)',
 '(2006)',
 '(2017)',
 '(2003)',
 '(2016)',
 '(2016)',
 '(2012)',
 '(2020)',
 '(2014)',
 '(2003)',
 '(2013)',
 '(2021)',
 '(2007)',
 '(2010)',
 '(2004)',
 '(2006)',
 '(2007)',
 '(2018)',
 '(2015)',
 '(2015)',
 '(2021)',
 '(2019)',
 '(2012)',
 '(2001)',
 '(2011)',
 '(2012)',
 '(2011)',
 '(2017)',
 '(2018)',
 '(1978)',
 '(2014)',
 '(2021)',
 '(1987)',
 '(2015)',
 '(2016)',
 '(2014)',
 '(2004)',
 '(2004)',
 '(2008)',
 '(2008)',
 '(2004)',
 '(2013)',
 '(2007)',
 '(2016)',
 '(2001)',
 '(2008)',
 '(2019)',
 '(2019)',
 '(2011)',
 '(2012)',
 '(2000)',
 '(2018)',
 '(2014)',
 '(2008)',
 '(1994)',
 '(1993)']

In [ ]:
# Showing the Top 100 IMDB Rated Indian Movies Ratings

Movie_Rating2 = []
for i in soup3.find_all(class_="ratingColumn imdbRating"):
  Movie_Rating2.append(i.text.splitlines()[1])


Movie_Rating2

['8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6']

In [ ]:
# Table Displaying DataFrame Consisting of Columns Related To Indian Movies Title , Rating and Year    

df2=pd.DataFrame({'Title':Movie_Titles2,'Rating':Movie_Rating2,'Year of Release':Movie_Year2})
df2.head(100)

                             Title Rating Year of Release
0                Pariyerum Perumal    8.5          (2018)
1                          Nayakan    8.5          (1987)
2                C/o Kancharapalem    8.5          (2018)
3                       Anbe Sivam    8.5          (2003)
4                         Kireedam    8.5          (1989)
..                             ...    ...             ...
95                       Charulata    8.1          (1964)
96                       Sarfarosh    8.1          (1999)
97        Uri: The Surgical Strike    8.1          (2019)
98                            Roja    8.1          (1992)
99                 Color It Yellow    8.1          (2006)

[100 rows x 3 columns]

# Q 4 Python Program to scrape product from mesho app

In [ ]:
# Request to Acess the Mesho Website

page4=requests.get('https://meesho.com/bags-ladies/pl/p7vbp')
page4

In [ ]:
# Loading the Page Content Of Mesho Website

soup4=BeautifulSoup(page4.content)
soup4

In [ ]:
# Showing the Product Names From Mesho

Product_Name = []
for i in soup4.find_all(class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS"):
  Product_Name.append(i.text)

Product_Name

['Ravishing Fancy Women Handbags',
 'Graceful Classy Women Handbags',
 'Elite Classy Women Handbags',
 'Graceful Versatile Women Handbags',
 'Voguish Attractive Women Handbags',
 'Elegant Versatile Women Handbags',
 'Elegant Versatile Women Handbags',
 'Ravishing Attractive Women Handbags',
 'Elegant Fashionable Women Handbags',
 'Elite Versatile Women Handbags',
 'Gorgeous Classy Women Handbags',
 'Elite Stylish Women Handbags',
 "Elegant Fancy Women's Bags",
 'Trendy Classy Women Handbags',
 'Gorgeous Attractive Women Handbags',
 "Elegant Fancy Women'S Pu Leather Hand Bags",
 'Elite Fancy Women Handbags',
 'Ravishing Alluring Women Handbags',
 'Voguish Fashionable Women Handbags',
 'Graceful Classy Women Handbags']

In [ ]:
# Showing the Product Name Rates From Mesho

Product_Rate = []
for i in soup4.find_all(class_="Text__StyledText-sc-oo0kvp-0 hiHdyy"):
  Product_Rate.append(i.text)

Product_Rate

['â¹255',
 'â¹328',
 'â¹332',
 'â¹574',
 'â¹458',
 'â¹1045',
 'â¹177',
 'â¹384',
 'â¹199',
 'â¹313',
 'â¹349',
 'â¹550',
 'â¹189',
 'â¹415',
 'â¹196',
 'â¹175',
 'â¹140',
 'â¹130',
 'â¹185',
 'â¹565']

In [ ]:
# Showing the Product Name Rate Discount From Mesho

Product_Discount = []
for i in soup4.find_all(class_="Text__StyledText-sc-oo0kvp-0 lnonyH"):
  Product_Discount.append(i.text.split()[0])

Product_Discount

['28%',
 '23%',
 '23%',
 '15%',
 '18%',
 '9%',
 '30%',
 '21%',
 '30%',
 '24%',
 '22%',
 '15%',
 '30%',
 '19%',
 '30%',
 '30%',
 '30%',
 '30%',
 '30%',
 '15%']

In [ ]:
# Table Displaying DataFrame Consisting of Columns Related To Product_Name,Product_Price,Product_Discount

import pandas as pd

df3=pd.DataFrame({'Product_Name':Product_Name,'Product_Price':Product_Rate,'Product_Discount':Product_Discount})
df3

                                  Product_Name Product_Price Product_Discount
0               Ravishing Fancy Women Handbags          â¹255              28%
1               Graceful Classy Women Handbags          â¹328              23%
2                  Elite Classy Women Handbags          â¹332              23%
3            Graceful Versatile Women Handbags          â¹574              15%
4            Voguish Attractive Women Handbags          â¹458              18%
5             Elegant Versatile Women Handbags         â¹1045               9%
6             Elegant Versatile Women Handbags          â¹177              30%
7          Ravishing Attractive Women Handbags          â¹384              21%
8           Elegant Fashionable Women Handbags          â¹199              30%
9               Elite Versatile Women Handbags          â¹313              24%
10              Gorgeous Classy Women Handbags          â¹349              22%
11                Elite Stylish Women Handbags          â¹550              15%
12                  Elegant Fancy Women's Bags          â¹189              30%
13                Trendy Classy Women Handbags          â¹415              19%
14          Gorgeous Attractive Women Handbags          â¹196              30%
15  Elegant Fancy Women'S Pu Leather Hand Bags          â¹175              30%
16                  Elite Fancy Women Handbags          â¹140              30%
17           Ravishing Alluring Women Handbags          â¹130              30%
18          Voguish Fashionable Women Handbags          â¹185              30%
19              Graceful Classy Women Handbags          â¹565              15%

# Q 5 ICC MEN CRICKET RANKING

* (A) TOP 10 ODI TEAMS IN MENS CRICKET TEAM

In [4]:
page5=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/test')
page5

In [ ]:
soup5=BeautifulSoup(page5.content)
soup5

In [ ]:
Team_Name = []
for i in soup5.find_all(class_="table-body"):
    Team_Name.append(i.text.split()[4])

Team_Name

['ENG',
 'NZ',
 'AUS',
 'AUS',
 'IND',
 'IND',
 'SL',
 'PAK',
 'NZ',
 'IND',
 'has',
 'has',
 'has',
 'has',
 'ENG',
 'AUS',
 'NZ',
 'IND',
 'IND',
 'IND',
 'Hasan',
 'AUS',
 'NZ',
 'ENG',
 'AUS',
 'ENG',
 'Grandhomme',
 'ENG',
 'NZ',
 'AUS',
 'AUS',
 'IND',
 'IND',
 'SL',
 'PAK',
 'NZ',
 'IND',
 'has',
 'has',
 'has',
 'has',
 'ENG',
 'AUS',
 'NZ',
 'IND',
 'IND',
 'IND',
 'Hasan',
 'AUS',
 'NZ',
 'ENG',
 'AUS',
 'ENG',
 'Grandhomme']

In [18]:
Team_Points = []
for i in soup5.find_all(class_="table-body"):
    Team_Points.append(i.text.split()[-1])

Team_Points

['872',
 '845',
 '844',
 '773',
 '773',
 '767',
 '754',
 '750',
 '714',
 '839',
 '835',
 '822',
 '820',
 '790',
 '788',
 '786',
 '777',
 '763',
 '330',
 '326',
 '324',
 '298',
 '287',
 '274',
 '250',
 '245',
 '232',
 '872',
 '845',
 '844',
 '773',
 '773',
 '767',
 '754',
 '750',
 '714',
 '839',
 '835',
 '822',
 '820',
 '790',
 '788',
 '786',
 '777',
 '763',
 '330',
 '326',
 '324',
 '298',
 '287',
 '274',
 '250',
 '245',
 '232']

In [21]:
Team_Rating = []
for i in soup5.find_all(class_="table-body"):
    Team_Rating.append(i.text.split()[1])

Team_Rating

['(0)',
 '(1)',
 '(1)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 'This',
 '(0)',
 '(3)',
 '(0)',
 '(2)',
 '(1)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(1)',
 '(1)',
 '(0)',
 '(1)',
 '(1)',
 '(0)',
 '(1)',
 '(1)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 'This',
 '(0)',
 '(3)',
 '(0)',
 '(2)',
 '(1)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(1)',
 '(1)',
 '(0)',
 '(1)',
 '(1)']

( B ) Top 10 ODI Batsmen

In [12]:
Team_Records = []
for i in soup5.find_all(class_="table-body"):
    Team_Records.append(i.text.split()[-1])

Team_Records

['872',
 '845',
 '844',
 '773',
 '773',
 '767',
 '754',
 '750',
 '714',
 '839',
 '835',
 '822',
 '820',
 '790',
 '788',
 '786',
 '777',
 '763',
 '330',
 '326',
 '324',
 '298',
 '287',
 '274',
 '250',
 '245',
 '232',
 '872',
 '845',
 '844',
 '773',
 '773',
 '767',
 '754',
 '750',
 '714',
 '839',
 '835',
 '822',
 '820',
 '790',
 '788',
 '786',
 '777',
 '763',
 '330',
 '326',
 '324',
 '298',
 '287',
 '274',
 '250',
 '245',
 '232']

In [11]:
Team_Ratings1 = []
for i in soup5.find_all(class_="table-body"):
    Team_Ratings1.append(i.text.split()[-1])

Team_Ratings1

['872',
 '845',
 '844',
 '773',
 '773',
 '767',
 '754',
 '750',
 '714',
 '839',
 '835',
 '822',
 '820',
 '790',
 '788',
 '786',
 '777',
 '763',
 '330',
 '326',
 '324',
 '298',
 '287',
 '274',
 '250',
 '245',
 '232',
 '872',
 '845',
 '844',
 '773',
 '773',
 '767',
 '754',
 '750',
 '714',
 '839',
 '835',
 '822',
 '820',
 '790',
 '788',
 '786',
 '777',
 '763',
 '330',
 '326',
 '324',
 '298',
 '287',
 '274',
 '250',
 '245',
 '232']

( C ) Top 10 ODI's Bowlers

In [13]:
Team_Records1 = []
for i in soup5.find_all(class_="table-body__cell rating"):
    Team_Records1.append(i.text)

Team_Records1

[]

In [14]:
Team_Ratings2 = []
for i in soup5.find_all(class_="table-body__cell rating"):
    Team_Ratings2.append(i.text)

Team_Ratings2

[]

# Q 6 ICC WOMEN CRICKET RANKING

(A) TOP 10 ODI TEAMS IN WOMENS CRICKET TEAM

In [24]:
Team_Name2 = []
for i in soup5.find_all(class_="table-body"):
    Team_Name2.append(i.text.split()[-2])

Team_Name2

['ENG',
 'AUS',
 'NZ',
 'AUS',
 'IND',
 'IND',
 'SL',
 'PAK',
 'AUS',
 'IND',
 'SA',
 'PAK',
 'NZ',
 'NZ',
 'ENG',
 'AUS',
 'NZ',
 'IND',
 'IND',
 'IND',
 'BAN',
 'AUS',
 'ENG',
 'NZ',
 'AUS',
 'NZ',
 'ENG',
 'ENG',
 'AUS',
 'NZ',
 'AUS',
 'IND',
 'IND',
 'SL',
 'PAK',
 'AUS',
 'IND',
 'SA',
 'PAK',
 'NZ',
 'NZ',
 'ENG',
 'AUS',
 'NZ',
 'IND',
 'IND',
 'IND',
 'BAN',
 'AUS',
 'ENG',
 'NZ',
 'AUS',
 'NZ',
 'ENG']

In [27]:
Team_Points2 = []
for i in soup5.find_all(class_="table-body"):
    Team_Points2.append(i.text.split()[-1])

Team_Points2

['872',
 '845',
 '844',
 '773',
 '773',
 '767',
 '754',
 '750',
 '714',
 '839',
 '835',
 '822',
 '820',
 '790',
 '788',
 '786',
 '777',
 '763',
 '330',
 '326',
 '324',
 '298',
 '287',
 '274',
 '250',
 '245',
 '232',
 '872',
 '845',
 '844',
 '773',
 '773',
 '767',
 '754',
 '750',
 '714',
 '839',
 '835',
 '822',
 '820',
 '790',
 '788',
 '786',
 '777',
 '763',
 '330',
 '326',
 '324',
 '298',
 '287',
 '274',
 '250',
 '245',
 '232']

In [29]:
Team_Rating3 = []
for i in soup5.find_all(class_="table-body"):
    Team_Rating3.append(i.text.split()[1])

Team_Rating3

['(0)',
 '(1)',
 '(1)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 'This',
 '(0)',
 '(3)',
 '(0)',
 '(2)',
 '(1)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(1)',
 '(1)',
 '(0)',
 '(1)',
 '(1)',
 '(0)',
 '(1)',
 '(1)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 'This',
 '(0)',
 '(3)',
 '(0)',
 '(2)',
 '(1)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(1)',
 '(1)',
 '(0)',
 '(1)',
 '(1)']

( B ) Top 10 ODI Women Batting

In [32]:
Team_Records3 = []
for i in soup5.find_all(class_="table-body"):
    Team_Records3.append(i.text.split()[-1])

Team_Records3

['872',
 '845',
 '844',
 '773',
 '773',
 '767',
 '754',
 '750',
 '714',
 '839',
 '835',
 '822',
 '820',
 '790',
 '788',
 '786',
 '777',
 '763',
 '330',
 '326',
 '324',
 '298',
 '287',
 '274',
 '250',
 '245',
 '232',
 '872',
 '845',
 '844',
 '773',
 '773',
 '767',
 '754',
 '750',
 '714',
 '839',
 '835',
 '822',
 '820',
 '790',
 '788',
 '786',
 '777',
 '763',
 '330',
 '326',
 '324',
 '298',
 '287',
 '274',
 '250',
 '245',
 '232']

In [33]:
Team_Ratings3 = []
for i in soup5.find_all(class_="table-body"):
    Team_Ratings3.append(i.text.split()[-1])

Team_Ratings3

['872',
 '845',
 '844',
 '773',
 '773',
 '767',
 '754',
 '750',
 '714',
 '839',
 '835',
 '822',
 '820',
 '790',
 '788',
 '786',
 '777',
 '763',
 '330',
 '326',
 '324',
 '298',
 '287',
 '274',
 '250',
 '245',
 '232',
 '872',
 '845',
 '844',
 '773',
 '773',
 '767',
 '754',
 '750',
 '714',
 '839',
 '835',
 '822',
 '820',
 '790',
 '788',
 '786',
 '777',
 '763',
 '330',
 '326',
 '324',
 '298',
 '287',
 '274',
 '250',
 '245',
 '232']

( C ) Top 10 ODI's Women Bowlers

In [38]:
Team_Records4 = []
for i in soup5.find_all(class_="table-body"):
    Team_Records4.append(i.text.split()[-1])

Team_Records4

['872',
 '845',
 '844',
 '773',
 '773',
 '767',
 '754',
 '750',
 '714',
 '839',
 '835',
 '822',
 '820',
 '790',
 '788',
 '786',
 '777',
 '763',
 '330',
 '326',
 '324',
 '298',
 '287',
 '274',
 '250',
 '245',
 '232',
 '872',
 '845',
 '844',
 '773',
 '773',
 '767',
 '754',
 '750',
 '714',
 '839',
 '835',
 '822',
 '820',
 '790',
 '788',
 '786',
 '777',
 '763',
 '330',
 '326',
 '324',
 '298',
 '287',
 '274',
 '250',
 '245',
 '232']

In [40]:
Team_Ratings4 = []
for i in soup5.find_all(class_="table-body"):
    Team_Ratings4.append(i.text.split()[1])

Team_Ratings4

['(0)',
 '(1)',
 '(1)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 'This',
 '(0)',
 '(3)',
 '(0)',
 '(2)',
 '(1)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(1)',
 '(1)',
 '(0)',
 '(1)',
 '(1)',
 '(0)',
 '(1)',
 '(1)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 'This',
 '(0)',
 '(3)',
 '(0)',
 '(2)',
 '(1)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(0)',
 '(1)',
 '(1)',
 '(0)',
 '(1)',
 '(1)']

# Q 7 Scrapping Details from Coreyms Website

In [ ]:
page7=requests.get('https://coreyms.com/')
page7

In [ ]:
soup7=BeautifulSoup(page7.content)
soup7

In [ ]:
# Scrapping Headings From Coreyms

Headings_Coreyms = []
for i in soup7.find_all(class_="entry-header"):
   Headings_Coreyms.append(i.text.splitlines()[0])

Headings_Coreyms

['Python Tutorial: Zip Files â Creating and Extracting Zip Archives',
 'Python Data Science Tutorial: Analyzing the 2019 Stack Overflow Developer Survey',
 'Python Multiprocessing Tutorial: Run Code in Parallel Using the Multiprocessing Module',
 'Python Threading Tutorial: Run Code Concurrently Using the Threading Module',
 'Update (2019-09-03)',
 'Python Quick Tip: The Difference Between â==â and âisâ (Equality vs Identity)',
 'Python Tutorial: Calling External Commands Using the Subprocess Module',
 'Visual Studio Code (Windows) â Setting up a Python Development Environment and Complete Overview',
 'Visual Studio Code (Mac) â Setting up a Python Development Environment and Complete Overview',
 'Clarifying the Issues with Mutable Default Arguments']

In [ ]:
# Scrapping Heading Dates from Coreyms

Heading_Dates = []
for i in soup7.find_all(class_="entry-time"):
   Heading_Dates.append(i.text)

Heading_Dates

['November 19, 2019',
 'October 17, 2019',
 'September 21, 2019',
 'September 12, 2019',
 'September 3, 2019',
 'August 6, 2019',
 'July 24, 2019',
 'May 1, 2019',
 'May 1, 2019',
 'April 24, 2019']

In [ ]:
# Contents From Coreyms

Heading_Contents = []
for i in soup7.find_all(class_="entry-content"):
   Heading_Contents.append(i.text)

Heading_Contents

['\nIn this video, we will be learning how to create and extract zip archives. We will start by using the zipfile module, and then we will see how to do this using the shutil module. We will learn how to do this with single files and directories, as well as learning how to use gzip as well. Letâs get startedâ¦\n\n',
 '\nIn this Python Programming video, we will be learning how to download and analyze real-world data from the 2019 Stack Overflow Developer Survey. This is terrific practice for anyone getting into the data science field. We will learn different ways to analyze this data and also some best practices. Letâs get startedâ¦\n\n\n\n',
 '\nIn this Python Programming video, we will be learning how to run code in parallel using the multiprocessing module. We will also look at how to process multiple high-resolution images at the same time using a ProcessPoolExecutor from the concurrent.futures module. Letâs get startedâ¦\n\n\n\n',
 '\nIn this Python Programming video, we will be learning how to run threads concurrently using the threading module. We will also look at how to download multiple high-resolution images online using a ThreadPoolExecutor from the concurrent.futures module. Letâs get startedâ¦\n\n\n\n',
 '\nHey everyone. I wanted to give you an update on my videos. I will be releasing videos on threading and multiprocessing within the next week. Thanks so much for your patience. I currently have a temporary recording studio setup at my Airbnb that will allow me to record and edit the threading/multiprocessing videos. I am going to be moving into my new house in 10 days and once I have my recording studio setup then you can expect much faster video releases. I really appreciate how patient everyone has been while I go through this move, especially those of you who are contributing monthly through YouTube \n',
 '\nIn this Python Programming Tutorial, we will be learning the difference between using â==â and the âisâ keyword when doing comparisons. The difference between these is that â==â checks to see if values are equal, and the âisâ keyword checks their identity, which means itâs going to check if the values are identical in terms of being the same object in memory. Weâll learn more in the video. Letâs get startedâ¦\n\n\n\n',
 '\nIn this Python Programming Tutorial, we will be learning how to run external commands using the subprocess module from the standard library. We will learn how to run commands, capture the output, handle errors, and also how to pipe output into other commands. Letâs get startedâ¦\n\n\n\n',
 '\nIn this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on Windows. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so letâs go ahead and get startedâ¦\nVSCode on MacOS â https://youtu.be/06I63_p-2A4\nTimestamps for topics in this tutorial: Installation â 1:13 Python Extension â 5:48 Switching Interpreters â 10:04 Changing Color Themes â 12:35 VSCode Settings â 16:16 Set Default Python â 21:33 Using Virtual Environments â 25:10 IntelliSense â 29:45 Code Formatting â 32:13 Code Linting â 37:06 Code Runner Extension â 39:42 Git Integration â 47:44 Use Different Terminal â 51:07 Debugging â 58:45 Unit Testing â 1:03:25 Zen Mode â 1:09:55\n\n\n\n',
 '\nIn this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on MacOS. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so letâs go ahead and get startedâ¦\nVSCode on Windows â https://youtu.be/-nh9rCzPJ20\nTimestamps for topics in this tutorial: Installation â 1:11 Python Extension â 6:21 Switching Interpreters â 10:16 Changing Color Themes â 13:08 VSCode Settings â 17:12 Set Default Python â 22:24 Using Virtual Environments â 25:52 IntelliSense â 30:28 Code Formatting â 33:08 Code Linting â 38:01 Code Runner Extension â 40:45 Git Integration â 49:05 Debugging â 58:15 Unit Testing â 1:02:38 Zen Mode â 1:10:42 \n\n\n\n',
 '\nIn this Python Programming Tutorial, we will be clarifying the issues with mutable default arguments. We discussed this in my last video titled â5 Common Python Mistakes and How to Fix Themâ, but I received many comments from people who were still confused. So we will be doing a deeper dive to explain exactly what is going on here. Letâs get startedâ¦\n\n\n\n']

# Q 8 Scrapping House Details From NOBROKER Website

In [42]:
page8=requests.get('https://www.nobroker.in/')
page8

In [ ]:
soup8=BeautifulSoup(page8.content)
soup8

House Description from Indirangar

In [44]:
# House Title From IndiraNagar From Nobroker

House_Titles1 = []
for i in soup8.find_all(class_="heading-6 flex items-center font-semi-bold m-0"):
    House_Titles1.append(i.text)

House_Titles1

[]

In [45]:
# House Location From IndiraNagar From Nobroker

House_Locations1 = []
for i in soup8.find_all(class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95"):
    House_Locations1.append(i.text)

House_Locations1

[]

In [47]:
# House Area From IndiraNagar From Nobroker

House_Area1 = []
for i in soup8.find_all(class_="flex flex-col w-33pe items-center border-r border-r-solid border-card-overview-border-color tp:w-half po:w-full last:border-r-1"):
    House_Area1.append(i.text.split()[0])

House_Area1

[]

In [49]:
# House EMIS From IndiraNagar From Nobroker

House_EMI1 = []
for i in soup8.find_all(class_="flex flex-col w-33pe items-center border-r border-r-solid border-card-overview-border-color tp:w-half po:w-full last:border-r-1"):
    House_EMI1.append(i.text.split(1))

House_EMI1

[]

In [48]:
# House Price From IndiraNagar From Nobroker

House_Prices1 = []
for i in soup8.find_all(class_="flex flex-col w-33pe items-center bo tp:w-half po:w-full border-r-0"):
    House_Prices1.append(i.text)

House_Prices1

[]

House Description From Jayanagar

In [50]:
# House Title From JayaNagar From Nobroker

House_Titles2 = []
for i in soup8.find_all(class_="heading-6 flex items-center font-semi-bold m-0"):
    House_Titles2.append(i.text)

House_Titles2

[]

In [60]:
# House Location From JayaNagar From Nobroker

House_Locations2 = []
for i in soup8.find_all(class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95"):
    House_Locations2.append(i.text)

House_Locations2

[]

In [52]:
# House Area From JayaNagar From Nobroker

House_Area2 = []
for i in soup8.find_all(class_="flex flex-col w-33pe items-center border-r border-r-solid border-card-overview-border-color tp:w-half po:w-full last:border-r-1"):
    House_Area2.append(i.text)

House_Area2

[]

In [53]:
# House EMIS From JayaNagar From Nobroker

House_EMI2 = []
for i in soup8.find_all(class_="flex flex-col w-33pe items-center border-r border-r-solid border-card-overview-border-color tp:w-half po:w-full last:border-r-1"):
    House_EMI2.append(i.text)

House_EMI2

[]

In [54]:
# House Price From JayaNagar From Nobroker

House_Prices2 = []
for i in soup8.find_all(class_="flex flex-col w-33pe items-center bo tp:w-half po:w-full border-r-0"):
    House_Prices2.append(i.text)

House_Prices2

[]

House Description From RajaJi Nagar

In [55]:
# House Title From RajaJi Nagar From Nobroker

House_Titles3 = []
for i in soup8.find_all(class_="heading-6 flex items-center font-semi-bold m-0"):
    House_Titles3.append(i.text)

House_Titles3

[]

In [56]:
# House Location From RajaJi Nagar From Nobroker

House_Locations3 = []
for i in soup8.find_all(class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95"):
    House_Locations3.append(i.text)

House_Locations3

[]

In [57]:
# House Area From RajaJi Nagar From Nobroker

House_Area3 = []
for i in soup8.find_all(class_="flex flex-col w-33pe items-center border-r border-r-solid border-card-overview-border-color tp:w-half po:w-full last:border-r-1"):
    House_Area3.append(i.text)

House_Area3

[]

In [58]:
# House EMIS From RajaJi Nagar From Nobroker

House_EMI3 = []
for i in soup8.find_all(class_="flex flex-col w-33pe items-center border-r border-r-solid border-card-overview-border-color tp:w-half po:w-full last:border-r-1"):
    House_EMI3.append(i.text)

House_EMI3

[]

In [59]:
# House Price From RajaJi Nagar From Nobroker

House_Prices3 = []
for i in soup8.find_all(class_="flex flex-col w-33pe items-center bo tp:w-half po:w-full border-r-0"):
    House_Prices3.append(i.text)

House_Prices3

[]

# Q 9 Scraping Data From Dineout

In [ ]:
page9=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
page9

In [ ]:
soup9=BeautifulSoup(page9.content)
soup9

In [ ]:
# Resturant Names List From the Dineout Resturant Company 

Resturant_Name = []
for i in soup9.find_all(class_="restnt-info cursor"):
    Resturant_Name.append(i.text)

Resturant_Name

['Castle BarbequeConnaught Place, Central Delhi',
 'Jungle Jamboree3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Castle BarbequePacific Mall,Tagore Garden, West Delhi',
 'Cafe KnoshThe Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'The Barbeque CompanyGardens Galleria,Sector 38A, Noida',
 'India GrillHilton Garden Inn,Saket, South Delhi',
 'Delhi BarbequeTaurus Sarovar Portico,Mahipalpur, South Delhi',
 'The Monarch - Bar Be Que VillageIndirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'World CafeVibe by The Lalit Traveller,Sector 35, Faridabad',
 'Indian Grill RoomSuncity Business Tower,Golf Course Road, Gurgaon',
 'Mad 4 Bar B QueSector 29, Faridabad',
 'Barbeque 29NIT, Faridabad',
 'GlasshouseDoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

In [ ]:
# Resturant Cuisnines List From the Dineout Resturant Company 

Resturant_Cusine = []
for i in soup9.find_all(class_="double-line-ellipsis"):
    Resturant_Cusine.append(i.text)

Resturant_Cusine

['â¹ 2,000 for 2 (approx) | North Indian, Chinese',
 'â¹ 1,400 for 2 (approx) | North Indian, Asian, Italian',
 'â¹ 3,000 for 2 (approx) | Italian, Continental',
 'Breakfast Buffet for 2',
 'Lunch Buffet for 2',
 'Unlimited Alcohol for 150 Minutes (refer deal desription)',
 'Unlimited Alcohol for 150 Minutes (Imported Brands)',
 'Unlimited Alcohol for 150 Minutes (Single Malt)',
 'Dinner Buffet for 2',
 'â¹ 2,000 for 2 (approx) | Chinese, North Indian',
 'â¹ 1,700 for 2 (approx) | North Indian, Chinese',
 'â¹ 2,400 for 2 (approx) | North Indian, Italian',
 '15% Off the Total Bill',
 'â¹ 1,800 for 2 (approx) | North Indian',
 'â¹ 1,900 for 2 (approx) | North Indian, Chinese',
 '10% Off the Food Bill',
 'â¹ 1,800 for 2 (approx) | North Indian, Chinese, Continental',
 '20% Off the Total Bill',
 'â¹ 2,000 for 2 (approx) | North Indian, Mughlai',
 'â¹ 800 for 2 (approx) | North Indian, Mughlai',
 'â¹ 1,500 for 2 (approx) | North Indian, Chinese',
 'Unlimited Dinner Buffet',
 'Unlimited Lunch Buffet',
 'â¹ 3,400 for 2 (approx) | European, Italian, Asian, Continental',
 '20% Off the Total Bill']

In [ ]:
# Resturant Location From the Dineout Resturant Company 

Resturant_Location = []
for i in soup9.find_all(class_="restnt-loc ellipsis"):
    Resturant_Location.append(i.text)

Resturant_Location

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Vibe by The Lalit Traveller,Sector 35, Faridabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon',
 'Sector 29, Faridabad',
 'NIT, Faridabad',
 'DoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

In [ ]:
# Resturant Rating List From the Dineout Resturant Company 

Resturant_Rating = []
for i in soup9.find_all(class_="restnt-rating rating-4"):
    Resturant_Rating.append(i.text)

Resturant_Rating

['3.5',
 '3.9',
 '4.3',
 '3.9',
 '4',
 '3.9',
 '3.7',
 '3.9',
 '4.3',
 '4.3',
 '3.6',
 '4.2',
 '4.1']

In [ ]:
# Resturant Image List From the Dineout Resturant Company 

Resturant_Image = []
for i in soup9.find_all("img",class_="no-img"):
    Resturant_Image.append(i['data-src'])

Resturant_Image

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/h/c/p3643-144497865356209fdd65746.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/q/d/p79307-16051787075fad15532bd7c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/v/f/p52501-16006856545f68865616659.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/p/y/p12366-1466935020576fa6ecdc359.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/d/p549-15291237715b2493bb2a415.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/j/e/p43488-15295778165b2b8158ceeef.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/w/r/p58842-15624171585d209806d9143.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/m/a/p9875-1645177960620f6c68ecfef.jpg?tr=tr:n-medium']

# Q 10 Scrapping Product Details From Bewakoof

In [ ]:
page10=requests.get('https://www.bewakoof.com/women-tshirts?ga_q=tshirts')
page10

In [ ]:
soup10=BeautifulSoup(page10.content)
soup10

In [ ]:
# Product Name List from Bewakoof

Product_Names = []
for i in soup10.find_all(class_="productCardDetail "):
    Product_Names.append(i.text)

Product_Names

['Simply Pawfect Half Sleeve T-Shirt (DL) Tropical blueâ¹ 299999â¹279For TriBe Members ',
 'All We Have Half Sleeve T-Shirt Meteor Greyâ¹ 199549â¹179For TriBe Members ',
 'Donut Worry Half Sleeve T-Shirt Pineapple Yellowâ¹ 299549â¹279For TriBe Members ',
 'Digi Teal Half Sleeve T-Shirtâ¹ 299499â¹279For TriBe Members ',
 'Inner Peace Half Sleeve Printed T-Shirt Blackâ¹ 349549â¹319For TriBe Members ',
 'Bloom Petalsâ¹ 299799â¹279For TriBe Members ',
 'Moodyâ¹ 349749â¹319For TriBe Members ',
 'Love Friends Half Sleeve Printed T-Shirt Meteor Greyâ¹ 249799FEW LEFTâ¹229For TriBe Members ',
 'Self love Jerry Half Sleeve Printed T-Shirt Bold Red (TJL)â¹ 199799â¹179For TriBe Members ',
 'Andhokar Half Sleeve T-Shirtâ¹ 199799â¹179For TriBe Members ']

In [ ]:
# Product Rate List From Bewakoof 

Product_Rates = []
for i in soup10.find_all(class_="discountedPriceText "):
    Product_Rates.append(i.text)

Product_Rates

['â¹ 299',
 'â¹ 199',
 'â¹ 299',
 'â¹ 299',
 'â¹ 349',
 'â¹ 299',
 'â¹ 349',
 'â¹ 249',
 'â¹ 199',
 'â¹ 199']

In [ ]:
# Product Image List From the Bewakoof 

Product_Images = []
for i in soup10.find_all(class_="productCardImg false"):
    Product_Images.append(i['src'])

Product_Images

KeyError: ignored